<nav class="navbar navbar-default site_color">
  <div class="container-fluid">
   <!--  <div class="navbar-header">
      <a href="#">
        <img src="/assets/icon.jpg" alt="Icon" height="50" width="50">
      </a>
    </div> -->
    <ul class="nav navbar-nav">
      <li class="active"><a href="/about_us">About Us</a></li>
      <li><a href="/contact_us">Contact Us</a></li>
      <li><a href="/tutorial">Tutorial</a></li>
      <li><a href="#">Blog</a></li>
      <% if user_signed_in? %>
        <li>
         <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="javascript:void(0)">Search</a></li>
      <li><a href="javascript:void(0)"><input type="text" class="form-control"></li></a>
    </ul>
  </div>
</nav>