<p>“Every picture has a meaning.</br>
Each one speaks a thousand words.</br>
All have a story to tell.</p>
 
<p>To be eloquent, just like music, pictures don’t belong to somewhere or someone; free from the confines of language & demography.</p></br>

<p>The interpretation of each frame may differ and is pretty much subjective from one to another yet at times the unspoken reflection do give away the story of ‘why & how’ it got clicked!</p></br>

<p>This portal is an open platform for photography enthusiasts to share, learn andshowcase the work of art – their photographs!</p></br>

<p>Whether photography is your profession or passion, a zealous hobby or a proven stress buster, we welcome you to join us in creating a harmonious space where learning is endless and goes far & beyond.</p></br>

Hone your skills with Picmean.