
    <h1>Hi Contactus@picmean.net</h1>
    <p>
      Here is the information submited by the user.<br>
      <p>Name: <%= @name%></p></br>
      <p>Email: <%= @email%></p></br>
      <p>Message: <%= @message%></p></br>
    </p>
    <p>Thanks</p>
